
/* Styling the html elements */
h1 {
    font-family: verdana;
    color: grey;
    text-align: center;
}

body {
    background-color: black;
    margin-left: 160px;
    padding: 0px 10px;
    color: grey;

    /* animation-duration: 1.3s;
    animation: linkScale;
    animation-direction: alternate;
    animation-name: backgroundChange;
    animation-timing-function: ease; */
}

p {
    font-family: verdana;
    font-size: 16px;
}

li resume {
    font-family: verdana;
    font-size: 16px;
}

li credits {
    font-family: verdana;
    font-size: 16px;
}

a:link {
    font-family: Arial Narrow;
}

footer {
    font-family: verdana;
    font-size: 10px;

    p {
        font-family: verdana;
        font-size: 12px;
    }
}

/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}


@keyframes bounce {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-50px); }
    100% { transform: translateY(0); }
}

/* Define a keyframe animation */
@keyframes linkChange {
    0% { color: #818181; }
    100% { color: #f1f1f1; }
}

@keyframes backgroundChange {
    0% { background-color: lightblue; }
    /* 100% { background-image: url("TestBackground1.png");   background-color: transparent; background-color: black;   } */
    100% { background-color: black; }
    /* 100% { background-image: linear-gradient(to bottom, transparent, #837960), url("TestBackground1.png");   } */
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
    animation: linkScale 1.3s ease-in-out;
    /*background-color: blue;*/
    animation-name: linkChange;
    animation-timing-function: ease;
}
  
/* Style page content */
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}
  
/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/* body:has(div a:hover) {
    animation: linkScale;
    animation-fill-mode: forwards;
    animation-duration: 1.3s;
    animation-name: backgroundChange;
    animation-timing-function: ease-in-out;
} */

/* body:has(div a:not:hover) {
    animation-duration: 1.3s;
    animation: linkScale;
    animation-direction: alternate;
    animation-name: backgroundChange;
    animation-timing-function: ease;
} */

#inner {
    display: table;
    margin: 0 auto;
}

#outer {
    /* border: 0.05em solid red; */
    width:100%;
    display: flex;
    justify-content: center;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #303030;
    color: #888888;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: #ccc;
    color: #101010;
  }
  
/* Style the collapsible content. Note: hidden by default */
.Shadertoys {
    padding: 0 18px;
    background-color: #010101;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/* Style the collapsible content. Note: hidden by default */
.IndividualShaderToy {
    padding: 0 18px;
    background-color: #010101;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/* Style the collapsible content. Note: hidden by default */
.ResumeEntry {
    padding: 0 18px;
    background-color: #010101;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/* Style the button that is used to open and close the collapsible content */
.resumeCollapsible {
    background-color: #303030;
    color: #888888;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .resumeCollapsible:hover {
    background-color: #ccc;
    color: #101010;
  }


/* Style the collapsible content. Note: hidden by default */
.SidebarButton {
    padding: 0 18px;
    background-color: #010101;
    overflow: hidden;
    transition-timing-function: ease;
    transition: opacity 0.2s ease-out;
}

/* Style the button that is used to open and close the collapsible content */
.sidebarAbout {
    background-color: #303030;
    color: #888888;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .sidebarAbout:hover {
    background-color: #ccc;
    color: #101010;
  }

  /* Style the button that is used to open and close the collapsible content */
.sidebarExperience {
    background-color: #303030;
    color: #888888;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .sidebarExperience:hover {
    background-color: #ccc;
    color: #101010;
  }

